@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

h1 {
  color: white;
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 0.5em;
}

h2 {
  color: white;
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 1em;
}

.app {
  background-color: #00975e;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.board {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 100px);
}

.button {
  height: 100px;
  width: 100px;
  font-size: 2.5rem;
  border: none;
  background-color: white;
  color: #005232;
  font-weight: 600;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
}

.app__end {
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.app__end > p {
  font-size: 2rem;
  font-weight: 600;
  color: #00975e;
  margin: 0;
}

.app__end > button {
  outline: none;
  border: 3px solid #00975e;
  background-color: white;
  color: #00975e;
  padding: 0.5em 1em;
  font-size: 1.2rem;
  border-radius: 50px;
  cursor: pointer;
  margin: 0;
}

.app__end > button:hover,
.app__end > button:focus {
  background-color: #00975e;
  color: white;
}
